langchain==0.0.234
moviepy==1.0.3
openai==0.27.1
pytube==15.0.0
requests==2.31.0
chromadb==0.4.11
pyttsx3==2.90
assemblyai==0.20.0
tiktoken==0.5.1
elevenlabs==0.2.24
PyMuPDF==1.23.7
reportlab==4.0.7
nltk==3.8.1
google-api-core==2.15.0
google-auth==2.25.2
google-cloud-core==2.4.1
google-cloud-storage==2.13.0
google-crc32c==1.5.0
google-resumable-media==2.6.0
googleapis-common-protos==1.62.0